<div class="container">
  <h2>Click on the map or provide a location to check</h2>
  <ul class="pager">
    <li
      ng-class="{'disabled': searchRadius <= 1600}" 
      ng-click="decreaseRadius()">
      <a>Smaller Radius</a>
    </li>
    <li
      ng-class="{'disabled': searchRadius >= 8000}" 
      ng-click="increaseRadius()">
      <a>Larger Radius</a>
    </li>
  </ul>
  <input 
    type="text" 
    ng-model="addressInput" 
    placeholder="Enter an address" 
    typeahead="address for address in getLocation($viewValue)"
    typeahead-loading="loadingLocations"
    typeahead-on-select="onSelect($item, $model, $label)"
    class="form-control">
      <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i> 
  <google-map 
    draggable="true" 
    center="map.center" 
    zoom="map.zoom" 
    events="map.events">
    <marker coords="userLocationMarker.coords"></marker>
    <circle 
      center="userLocationMarker.coords"
      radius="searchRadius"
      stroke="{color: '#33FFFF', weight: 1, opacity: 1.0}"
      fill="{color: '#33FFFF', opacity: 0.1}"
      clickable="false"
      visible="true">
    </circle>
  </google-map>
  <ul class="list-group">
    <li ng-repeat="type in types" 
      ng-class="{'list-group-item': type.score == -1,
                 'list-group-item list-group-item-success': type.score >= 10,
                 'list-group-item list-group-item-warning': 
                    type.score < 10 && type.score >= 5,
                 'list-group-item list-group-item-danger': 
                    type.score < 5 && type.score >= 0}">
      {{type.name}}
    </li>
  </ul>
</div>
